
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" onsubmit="return false">
				<span class="contact100-form-title">
					Crear Sala
				</span>

				<div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
					<span class="label-input100">Ingrese el nombre de la Sala</span>
					<input class="input100" type="text" name="name" placeholder="Nombre Sala" required #nom>
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
					<span class="label-input100">Ingrese tiempo para realizar el examen (minutos)</span>
					<input class="input100" type="text" name="name" placeholder="Tiempo" required #tim>
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">Seleccione el Examen</span>
                    <select class="input100" #exa required>
                        <option value="" selected disabled hidden>Escoge Examen</option>
                        <option *ngFor="let examen of examenes" value={{examen.ID_EXAMEN}}>
                            {{examen.TITULO}}
                        </option>
                      </select>
                </div>

		

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" (click)="crearsala(nom,tim,exa)">
						<span>
							Crear Sala
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>


